.chat-main {
  display: flex;
  flex-direction: column;
  background: #c4c4c4;
  width: 25vw;
  height: 50vh;
  overflow-y: auto;
}

.message-container {
  display: flex;
  margin: 1vmax;
  max-width: 100%;
}

@keyframes appearance {
  from {
    opacity: 0.2;
    transform: translateY(4vh);
    margin-bottom: 2vh;
  }

  to {
    opacity: 0.8;
    transform: translateY(0);
    margin-bottom: 0;
  }
}

.message-container_user {
  flex-direction: row-reverse;
}

.message-container_interlocutor {
  flex-direction: row;
}

.message-container__text {
  opacity: 1;
  position: relative;
  font-size: 1.2vmax;
  max-width: 10vw;
  padding: 0.5vmax;
  border-radius: 1vmax;
  word-break: break-all;
  animation-name: appearance;
  animation-duration: 1s;
  transition: ease-in-out;
}

.message-container__text__item {
  padding-right: 2vw;
}

.message-container__text_user {
  background: #fff;
}

.message-container__text_interlocutor {
  background: rgba(82, 255, 0, 0.4);
}

.message-container__time {
  position: absolute;
  bottom: 0.5vh;
  right: 0.5vw;
  font-size: 0.7vmax;
  color: #6d6d6d;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #7d7d7d;
  border-radius: 1vmax;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
  transition-duration: 2s;
}
